.align-right
  text-align: right

.group
  & > *
    margin-left: 0
    margin-right: $spacing-in-half
  & > *:last-child
    margin-right: 0
  &.align-right
    & > *
      margin-right: 0
      margin-left: $spacing-in-half
    & > *:last-child
      margin-left: 0