
// Base colors

$color-white: #f0f0f0 !default
$color-black: #222222 !default
$color-dark: #111111 !default

$color-gray-darker: #333333 !default
$color-gray-dark: #444444 !default
$color-gray: #777777 !default
$color-gray-light: #dddddd !default
$color-gray-lighter: #eeeeee !default

$color-blue: #0077ff
$color-blue-light: #00ddff
$color-green: #00cccc
$color-yellow: #ccccff
$color-red: #aacccc

// Base fonts

$font-family-sans: "Open Sans", sans-serif !default
$font-family-monospace: monospace !default

$font-weight-0: 300 !default
$font-weight-1: 400 !default
$font-weight-2: 600 !default
$font-weight-3: 700 !default
$font-weight-4: 800 !default

$font-size-0: 0.25em !default
$font-size-1: 0.5em !default
$font-size-2: 0.75em !default
$font-size-3: 0.95em !default
$font-size-4: 1em !default
$font-size-5: 1.25em !default
$font-size-6: 1.5em !default
$font-size-7: 2em !default
$font-size-8: 2.5em !default

$line-height-0: 1 !default
$line-height-1: 1.25 !default
$line-height-2: 1.77 !default

// Base sizes

$size-0: 0.25rem !default
$size-1: 0.5rem !default
$size-2: 0.75rem !default
$size-3: 1rem !default
$size-4: 1.5rem !default
$size-5: 2rem !default
$size-6: 2.5rem !default

$gap: 20px !default

$tablet: 800px !default
$desktop: 1000px !default
$hd: 1200px !default

// Default colors

$color-primary: $color-blue !default
$color-light: $color-white !default
$color-dark: $color-black !default

$color-background: $color-white !default
$color-background-dark: $color-black !default
$color-border: $color-gray-light !default
$color-border-hover: $color-gray-light !default

$color-text: $color-black !default
$color-text-light: $color-white !default
$color-text-dark: $color-dark !default

$color-link: $color-blue !default
$color-link-hover: $color-blue-light !default

// Fonts

$font-weight-light: $font-weight-1
$font-weight-default: $font-weight-1
$font-weight-bold: $font-weight-2
$font-weight-bolder: $font-weight-3

$font-family-default: $font-family-sans !default
$font-family-code: $font-family-monospace !default

$font-size-extra-small: $font-size-0
$font-size-small: $font-size-3
$font-size-dafault: $font-size-4
$font-size-large: $font-size-5
$font-size-extra-large: $font-size-6

$font-spacing-vertical: $font-size-2
$font-spacing-horizontal: $font-size-4

$line-height-default: $line-height-0 !default
$line-height-large: $line-height-1 !default
$line-height-double: $line-height-2 !default

// Spacing

$spacing-in: $size-3 !default
$spacing-in-half: $size-1 !default
$spacing-out: $size-4 !default
$spacing-out-half: $size-2 !default
