
.button
  @extend %button
  @extend %unselectable
  border-radius: $button-border-radius
  padding: $button-padding
  height: $button-height
  font-size: $button-font-size
  cursor: pointer
  justify-content: center
  text-align: center
  white-space: nowrap
  font-family: $button-font-family
  background-color: $button-background-color
  border: $button-border
  box-shadow: $button-box-shadow
  color: $button-color
  &:hover,
  &.is-hovered
    border: $button-hover-border
    color: $button-hover-color
  &:focus,
  &.is-focused
    border: $button-focus-border
    color: $button-focus-color
    &:not(:active)
      box-shadow: $button-focus-box-shadow
  &:active,
  &.is-active
    border: $button-active-border
    color: $button-active-color
  &.is-primary
    background-color: $button-primary-background-color
    border: $button-primary-border
    box-shadow: $button-primary-box-shadow
    color: $button-primary-color
    &:hover,
    &.is-hovered
      background-color: $button-primary-hover-background-color
      border: $button-primary-hover-border
      color: $button-primary-hover-color
    &:focus,
    &.is-focused
      background-color: $button-primary-focus-background-color
      border: $button-primary-focus-border
      color: $button-primary-focus-color
      &:not(:active)
        box-shadow: $button-primary-focus-box-shadow
    &:active,
    &.is-active
      background-color: $button-primary-active-background-color
      border: $button-primary-active-border
      color: $button-primary-active-color
  &.is-success
    background-color: $button-success-background-color
    border: $button-success-border
    box-shadow: $button-success-box-shadow
    color: $button-success-color
    &:hover,
    &.is-hovered
      background-color: $button-success-hover-background-color
      border: $button-success-hover-border
      color: $button-success-hover-color
    &:focus,
    &.is-focused
      background-color: $button-success-focus-background-color
      border: $button-success-focus-border
      color: $button-success-focus-color
      &:not(:active)
        box-shadow: $button-success-focus-box-shadow
    &:active,
    &.is-active
      background-color: $button-success-active-background-color
      border: $button-success-active-border
      color: $button-success-active-color
  &.is-warning
    background-color: $button-warning-background-color
    border: $button-warning-border
    box-shadow: $button-warning-box-shadow
    color: $button-warning-color
    &:hover,
    &.is-hovered
      background-color: $button-warning-hover-background-color
      border: $button-warning-hover-border
      color: $button-warning-hover-color
    &:focus,
    &.is-focused
      background-color: $button-warning-focus-background-color
      border: $button-warning-focus-border
      color: $button-warning-focus-color
      &:not(:active)
        box-shadow: $button-warning-focus-box-shadow
    &:active,
    &.is-active
      background-color: $button-warning-active-background-color
      border: $button-warning-active-border
      color: $button-warning-active-color
  &.is-danger
    background-color: $button-danger-background-color
    border: $button-danger-border
    box-shadow: $button-danger-box-shadow
    color: $button-danger-color
    &:hover,
    &.is-hovered
      background-color: $button-danger-hover-background-color
      border: $button-danger-hover-border
      color: $button-danger-hover-color
    &:focus,
    &.is-focused
      background-color: $button-danger-focus-background-color
      border: $button-danger-focus-border
      color: $button-danger-focus-color
      &:not(:active)
        box-shadow: $button-danger-focus-box-shadow
    &:active,
    &.is-active
      background-color: $button-danger-active-background-color
      border: $button-danger-active-border
      color: $button-danger-active-color
  &.is-rounded
    border-radius: $button-rounded-border-radius
  &[disabled]
    opacity:  $button-disabled-opacity
  > .icon
    font-size: 1em
    width: 1em
    height: 1em
    &:not(:last-child)
      margin-right: 0.5em

.grouped
  display: inline-flex
  > .button
    border-radius: 0
    margin-left: -1px
    z-index: 1
    &:hover
      z-index: 2
    &:first-child
      margin-left: 0
      border-radius: $button-border-radius 0 0 $button-border-radius
    &:last-child
      border-radius: 0 $button-border-radius $button-border-radius 0