.card
  @extend %block
  position: relative
  border: $card-border
  border-radius: $card-border-radius
  box-shadow: $card-box-shadow
  .card-header
    padding: $card-header-padding
    background-color: $card-header-background-color
    border-bottom: $card-header-border
    color: $card-header-color
    line-height: $card-header-line-height
    font-size: $card-header-font-size
    font-weight: $card-header-font-weight
    > .icon
      font-size: 1em
      width: 1.2em
      height: 1.2em
      margin-right: 0.4em
  .card-body
    padding: $card-body-padding
    background-color: $card-body-background-color
    color: $card-body-color
    line-height: $card-body-line-height
    font-size: $card-body-font-size
    font-weight: $card-body-font-weight
  .card-footer
    padding: $card-footer-padding
    background-color: $card-footer-background-color
    border-top: $card-footer-border
    color: $card-footer-color
    line-height: $card-footer-line-height
    font-size: $card-footer-font-size
    font-weight: $card-footer-font-weight
