.field
  .label
    display: block
    font-family: $label-font-family
    font-weight: $label-font-weight
    font-size: $label-font-size
    line-height: $label-font-line-height
    margin-bottom: $label-margin
    color: $label-color
  .help
    display: block
    font-family: $help-font-family
    font-weight: $help-font-weight
    font-size: $help-font-size
    line-height: $help-font-line-height
    margin-top: $help-margin
    color: $help-color
    &.is-success
      color: $help-success-color
    &.is-danger
      color: $help-danger-color
  &:not(:last-child)
    margin-bottom: $field-margin
  .input
    width: 100%
    padding: $input-padding
    display: block
    font-family: $input-font-family
    font-weight: $input-font-weight
    font-size: $input-font-size
    line-height: $input-font-line-height
    color: $input-color
    height: $input-height
    border: $input-border
    border-radius: $input-border-radius
    background-color: $input-background-color
    &:hover
      &:not(:active)
        border: $input-hover-border
        background-color: $input-hover-background-color
    &:focus
      border: $input-focused-border
      background-color: $input-focused-background-color
      box-shadow: $input-focused-box-shadow
    &:active
      border: $input-active-border
      background-color: $input-active-background-color
      box-shadow: $input-active-box-shadow
    &[disabled]
      border: $input-disabled-border
      background-color: $input-disabled-background-color
  textarea.input
    min-width: 100%
    max-width: 100%
    height: auto
    min-height: $input-height
  select.input
    padding: 0 0.2rem
  .checkbox
    label
      @extend %unselectable
      display: block
      font-family: $checkbox-font-family
      font-weight: $checkbox-font-weight
      font-size: $checkbox-font-size
      line-height: $checkbox-font-line-height
      color: $checkbox-color
      & + label
        margin-top: $checkbox-label-margin
      input
        display: inline-block
        margin-right: $checkbox-margin
    &.is-inline
      label
        display: inline-block
        margin-right: $checkbox-margin-inline
        & + label
          margin-top: 0
  .radio
    @extend %unselectable
    display: block
    font-family: $radio-font-family
    font-weight: $radio-font-weight
    font-size: $radio-font-size
    line-height: $radio-font-line-height
    color: $radio-color
    label
      display: block
      & + label
        margin-top: $radio-label-margin
      input
        display: inline-block
        margin-right: $radio-margin
    &.is-inline
      label
        display: inline-block
        margin-right: $radio-margin-inline
        & + label
          margin-top: 0

.dark-mode
  .field
    .label
      color: $dark-label-color
    .help
      color: $dark-help-color
      &.is-success
        color: $dark-help-success-color
      &.is-danger
        color: $dark-help-danger-color
    .input
      color: $dark-input-color
      border: $dark-input-border
      background-color: $dark-input-background-color
      &:hover
        &:not(:active)
          border: $dark-input-hover-border
          background-color: $dark-input-hover-background-color
      &:focus
        border: $dark-input-focused-border
        background-color: $dark-input-focused-background-color
      &:active
        border: $dark-input-active-border
        background-color: $dark-input-active-background-color
      &[disabled]
        border: $dark-input-disabled-border
        background-color: $dark-input-disabled-background-color
    .checkbox
      label
        color: $dark-checkbox-color
    .radio
      color: $dark-radio-color