
// Field

$field-margin: 1.25rem

// Label

$label-font-family: $font-family-default
$label-font-weight: $font-weight-bold
$label-font-size: 0.9em
$label-font-line-height: $line-height-default
$label-margin: 0.4rem
$label-color: $color-text-dark

// Help

$help-font-family: $font-family-default
$help-font-weight: $font-weight-default
$help-font-size: 0.8em
$help-font-line-height: 0.7em
$help-margin: 0.5rem
$help-color: $color-text

// Help success

$help-success-color: $success-background-color

// Help error

$help-danger-color: $danger-background-color

// Input default

$input-padding: 0.5rem
$input-font-family: $font-family-default
$input-font-weight: $font-weight-bold
$input-font-size: $font-size-dafault
$input-font-line-height: $line-height-default
$input-color: $color-text-dark
$input-height: 2.25rem
$input-border: $default-border
$input-border-radius: 4px
$input-background-color: #ffffff

// Input hover

$input-hover-border: solid 1px #0066ff
$input-hover-background-color: #ffffff

// Input focused

$input-focused-border: solid 1px #0066ff
$input-focused-background-color: #ffffff
$input-focused-box-shadow: 0 0 0 2px #0066ff55

// Input active

$input-active-border: solid 1px #003aa0
$input-active-background-color: #ffffff
$input-active-box-shadow: 0 0 0 2px #0066ff55

// Input disabled

$input-disabled-border: $default-border
$input-disabled-background-color: #cccccc

.field
  .label
    display: block
    font-family: $label-font-family
    font-weight: $label-font-weight
    font-size: $label-font-size
    line-height: $label-font-line-height
    margin-bottom: $label-margin
    color: $label-color
  .help
    display: block
    font-family: $help-font-family
    font-weight: $help-font-weight
    font-size: $help-font-size
    line-height: $help-font-line-height
    margin-top: $help-margin
    color: $help-color
    &.is-success
      color: $help-success-color
    &.is-danger
      color: $help-danger-color
  &:not(:last-child)
    margin-bottom: $field-margin
  .input
    width: 100%
    padding: $input-padding
    display: block
    font-family: $input-font-family
    font-weight: $input-font-weight
    font-size: $input-font-size
    line-height: $input-font-line-height
    color: $input-color
    height: $input-height
    border: $input-border
    border-radius: $input-border-radius
    background-color: $input-background-color
    &:hover
      &:not(:active)
        border: $input-hover-border
        background-color: $input-hover-background-color
    &:focus
      border: $input-focused-border
      background-color: $input-focused-background-color
      box-shadow: $input-focused-box-shadow
    &:active
      border: $input-active-border
      background-color: $input-active-background-color
      box-shadow: $input-active-box-shadow
    &[disabled]
      border: $input-disabled-border
      background-color: $input-disabled-background-color
  textarea.input
    min-width: 100%
    max-width: 100%
    height: auto
    min-height: $input-height
  select.input
    padding: 0 0.2rem