.navbar
  padding: 0 0.5rem
  display: flex
  height: 4rem
  justify-content: space-between
  align-items: center
  border-bottom: solid 2px #eaeaea
  .navbar-left
    flex-grow: 1
  .navbar-right
    flex-grow: 1
    display: flex
    justify-content: right
  .navbar-items,
  .navbar-logo,
  .navbar-menu,
  .navbar-item
    display: inline
  .navbar-logo,
  .navbar-menu,
  .navbar-item
    padding: 0 0.5rem