.navbar
  line-height: 0
  .navbar-logo
    font-weight: $font-weight-bold
    img
      height: 1.5rem
  .navbar-item,
  .navbar-menu
    a
      color: $color-text
      > .icon
        font-size: 1em
        width: 1em
        height: 1em
        &:not(:last-child)
          margin-right: 0.3em
      &:hover
        color: $color-primary

@media screen and (min-width: $tablet)
  .navbar
    padding: 0 0.5rem
    display: flex
    align-items: center
    height: 3rem
    box-shadow: 0 0 0 2px #e4e4e4
  .navbar-left
    flex-grow: 1
    display: flex
    align-items: center
  .navbar-right
    flex-grow: 1
    display: flex
    align-items: center
    justify-content: flex-end
  .navbar-items,
  .navbar-options,
  .navbar-logo,
  .navbar-item
    display: inline-block
  .navbar-item
    padding: 0 0.8rem
  .navbar-logo
    padding: 0 1.2rem 0 0.8rem
  .navbar-menu
    display: none

@media screen and (max-width: $tablet)
  .navbar,
  .navbar-left,
  .navbar-right,
  .navbar-logo,
  .navbar-menu
    display: block
  .navbar-items
    display: none
  .navbar
    padding: 0
  .navbar-options
    display: flex
    align-items: center
    height: 3rem
    box-shadow: 0 0 0 2px #e4e4e4
  .navbar-logo
    flex-grow: 1
  .navbar-menu
    flex-grow: 1
    display: flex
    justify-content: flex-end
  .navbar-logo,
  .navbar-menu
    padding: 1rem
  .navbar-menu
    font-weight: bold

@media screen and (max-width: $tablet)
  .navbar
    &.show-items
      padding-bottom: 0.5rem
      box-shadow: 0 0 0 2px #e4e4e4
      .navbar-items
        display: block
      .navbar-item
        padding: 0.5rem 1rem
      .navbar-options
        margin-bottom: 0.5rem

.dark-mode
  .navbar
    .navbar-item,
    .navbar-menu
      a
        color: $dark-color-text
        &:hover
          color: $color-primary
