.table
  @extend %block
  background-color: $table-background-color
  color: $table-color
  border: $table-border
  thead
    tr
      border-bottom: $table-header-border
    th
      background-color: $table-header-background-color
      color: $table-header-color
      font-weight: $table-header-font-weight
      padding: $table-header-padding
      font-size: $table-header-font-size
  tbody
    tr
      border-bottom: $table-row-border
    tr:last-child
      border-bottom: none
    td
      background-color: $table-row-background-color
      color: $table-row-color
      font-weight: $table-row-font-weight
      padding: $table-row-padding
      font-size: $table-row-font-size
  tfoot
    tr
      border-top: $table-footer-border
    td
      background-color: $table-footer-background-color
      color: $table-footer-color
      font-weight: $table-footer-font-weight
      padding: $table-footer-padding
      font-size: $table-footer-font-size
  &.is-striped
    tr:nth-child(even) td
      background-color: $table-stripped-background-color
  &.is-bordered
      border: $table-bordered-border

.dark-mode
  .table
    background-color: $dark-table-background-color
    color: $dark-table-color
    border: $dark-table-border
    thead
      tr
        border-bottom: $dark-table-header-border
      th
        background-color: $dark-table-header-background-color
        color: $dark-table-header-color
    tbody
      tr
        border-bottom: $dark-table-row-border
      tr:last-child
        border-bottom: none
      td
        background-color: $dark-table-row-background-color
        color: $dark-table-row-color
    tfoot
      tr
        border-top: $dark-table-footer-border
      td
        background-color: $dark-table-footer-background-color
        color: $dark-table-footer-color
    &.is-striped
      tr:nth-child(even) td
        background-color: $dark-table-stripped-background-color
    &.is-bordered
        border: $dark-table-bordered-border